/*
	Styling starts with mobile site.
*/

#quote,#foot
{
	clear:both;
}

body
{
	color:red;
	font-family:cursive,sans-sherif;
	background-image:url(images/patern2.jpg);
	background-origin:border-box;
	text-align:center;
}


header h1
{	
	border:solid;
	border-radius:5px;
	border-color:#e14b0a;
	background-color:black;
	background-origin:padding-box;
	background-image:url(images/left.jpg),url(images/right.jpg);
	background-size:30px 60px;
	background-position:left,right;
	background-repeat:no-repeat;
	padding:3%;
}

header h3
{
	border:solid;
	border-radius:5px;
	border-color:#e14b0a;
	background-color:black;
}

section h3
{
	background-color:black;
	border:solid;
	border-radius:5px;
	border-color:#e14b0a;
	text-align:center;
}

#profile
{	width:60%;
	margin:auto;
	border:solid;
	border-radius:9px;
	border-color:#e14b0a;
	background-color:black;
	background-image:url(images/o-matic.jpg);
	background-size:90% 95%;
	background-position:center;
	background-repeat:no-repeat;
	padding:160px 0px;
}

#links
{
	border:solid;
	border-radius:5px;
	border-color:#e14b0a;
	background-color:black;
	margin-top:1.2em;
	
}

#foot
{
	border:solid;
	border-color:#e14b0a;
	background-color:black;
	margin-top:1.2em;
}

#fb,#skype,#mail,#linked
{
	padding:1em;
	width:25%;
	border:solid;
	border-width:2px;
	border-radius:20px;
	border-color:#e14b0a;
	background-origin:border-box;
	background-clip:border-box;
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin:auto;
	margin-top:0.5em;
}

#fb
{
	background-image:url(images/facebook-logo.png);
}

#skype
{
	background-image:url(images/skype.png);
}

#mail
{
	background-image:url(images/mail.png);
}

#linked
{
	background-image:url(images/linkedin.png);
}

ul
{
	list-style:none;
	color:#e14b0a;
	}

/*
	Normal window size
*/

@media only screen and (min-width: 768px)
{

#main-container
{
	width:90%;
	margin:auto;
}

body
{
	width:90%;
	margin:auto;
	padding:1em;
}

section
{	width:50%;
	float:left;
	margin:auto;
}

#profile,#links
{
margin:auto;
margin-top:1.2em;
float:right;
width:40%;
}

#links
{
	display:block;
}

#foot
{
	padding:2em;
	width:90%;
	border:solid;
	border-width:5px;
	border-radius:5px;
	border-color:#e14b0a;
	margin:auto;
	margin-top:2em;
	background:black;
}

#fb,#skype,#linked,#mail
{
	margin-top:0.5em;
	padding:1.2em;
	width:5%;
	border:solid;
	border-width:2px;
	border-radius:20px;
	border-color:#e14b0a;
	margin:auto;
	float:left;
	position:relative;
	margin:2%;
	transition-property: height;
	transition-duration: 1s;
	-moz-transition-property: height; /* Firefox 4 */
	-moz-transition-duration: 1s; /* Firefox 4 */
	-webkit-transition-property: height; /* Safari and Chrome */
	-webkit-transition-duration: 1s; /* Safari and Chrome */
	-o-transition-property: height; /* Opera */
	-o-transition-duration: 1s; /* Opera */
}


#mail,#linked
{
	float:right;
}
#fb:hover
{
width:10%;
}

#skype:hover
{
width:10%;
}

#mail:hover
{
width:10%;
}

#linked:hover
{
width:10%;
}

footer h2
{
	text-align:left;
}

footer p
{
	clear:both;
}
#foot
{
	margin:auto;
}
}

@media only screen and (min-width: 1080px)
{

 body
{
	width:75%;
}

#main-container
{
	width:80%;
}
}