/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

*
{
margin:0 5px 0 5px;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section 
{
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,canvas,video 
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) 
{
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] 
{
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html 
{
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body 
{
	margin: 0;
	background:url("background.jpg");
	font-family:Helvetica;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

button,input,select,textarea
{
    font-family:MS Sans Serif;
}

p,li
{
font-family:MS Sans Serif;
color:white;
text-align:justify;
letter-spacing:1px;
line-height:23px;
}
p,h1,h2,h3,li
{
margin-top:20px;
}
h1
{
color:silver;
font-size:2.5em;
}
h2
{
color:silver;
font-size:2em;
}
h3
{
color:silver;
}
a:link,a:visited
{
color:grey;
text-decoration:none;
}
a:hover
{
color:#436eee;
}
#navigation a:hover,footer a:hover
{
background-color:#436eee;
}
#navigation a:link,#navigation a:visited,footer a:link,footer a:visited
{
color:white;
}
header h1
{
letter-spacing:0.25em;
}
/*---------
---Mobile CSS----
--------------*/

#navigation a,footer a
{
	display:block;
	padding:10px;
	background-color:black;
	text-align:left;
	text-decoration:none;
	border-radius:5px;
}

#navigation,article,aside,footer,header
{
margin:0 10px 20px 20px;
padding:15px 0;
}



/*-----------
----MEDIA SCREENS----
-----------------*/

@media only screen and (min-width: 768px){

#navigation a
{
	border-top-right-radius:50px 50px;
	border-bottom-right-radius:50px 50px;
	display:block;
	padding:15px 0;
	background-color:transparent;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
}


#navigation 
{
	width:20%;
	float:left;
	margin-left:-20px;
	margin-top:30px;
	background-color:transparent;	
	padding:0;
}

#main-container
{
	margin-top:0px;
	margin-left:17.3%;
	width:75%;
	background-color:transparent;
}

article
{
	float:left;
	margin-top:15px;
	width:55%;
}
aside
{
	float:right;
	width:32%;
	margin-top:45px;
}
footer
{
margin-top:50px;
}
footer a:hover
{
color:#436eee;
background-color:transparent;
}
footer a
{
	background-color:transparent;
	display:inline;	
	font-weight:normal;	
}

footer ul li
{
	background-color:none;
	display:inline;
	margin:20px;
}

footer ul
{
	text-align:center;
}
}